.icon-card{
    color: grey;
    font-size: 80px;
    position:absolute;
    bottom: 20px;
    right: 1rem;
}


.router-link-active {
    font-weight: bold;
}

#content{
    height: 100%;
}

.navbar-brand-text{
    font-size: 1.2rem;
}

.manu-card{
    height: 22vh;
    margin: 20px 0px ;
}

.navbar-home-button{
    text-decoration: none;
    color: white;
}
.navbar-home-button:hover{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

@media (max-width: 768px){
    .navbar-brand-text{
        text-align: center;
    }


    .icon-card{
        text-align: center;
        font-size: 50px;
        bottom: 20px;
    }

    .manu-card{
        height: 15vh;
        margin-top: 20px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #220000; 
}
