.icon-card{
    color: grey;
    font-size: 80px;
    position:absolute;
    bottom: 20px;
    right: 1rem;
}

.router-link{
    text-decoration: none;
    color: white;
}
.router-link:hover{
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.router-link-active {
    font-weight: bold;
    color: rgb(0, 10, 143) !important;
    font-size: 1rem;
}

#content{
    height: 100%;
}

.navbar-brand-text{
    font-size: 1.2rem;
}

.manu-card{
    height: 22vh;
    margin: 20px 0px ;
}

.navbar-home-button{
    text-decoration: none;
    color: white;
}
.navbar-home-button:hover{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

@media (max-width: 768px){
    .navbar-brand-text{
        text-align: center;
    }


    .icon-card{
        text-align: center;
        font-size: 50px;
        bottom: 20px;
    }

    .manu-card{
        height: 15vh;
        margin-top: 20px;
    }
}
